/* media query tablet */
@media screen and (max-width: 768px) {
    .container{
        width: 100%;
    }
}

/* media query mobile */
@media screen and (max-width: 480px) {
    .row{
        flex-direction: column;
        align-items: center;
    }
}